@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --bg: rgb(14, 22, 10);
    --text: white;
    --col: rgb(192, 248, 101);

    color: var(--text);
}

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: var(--bg);
}

main{
    max-width: 1200px;
    margin: auto;
}

button{
    background-color: var(--bg);
    color: var(--text);
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid var(--text);
    padding: 1rem;
    text-transform: capitalize;
    cursor: pointer;
}

